@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@import 'asciinema-player/dist/bundle/asciinema-player.css';

/* 禁止浏览器合成字形，中文字体通常没有斜体 */
:root {
  font-synthesis: none;
}

.task-list-item > input[type='checkbox'] {
  accent-color: var(--color-fd-primary);
  cursor: pointer;
}
